div(ng-include='"components/navbar/navbar.html"')
.container
  ui-view

    p
      button.btn.btn-default(ui-sref="events.new")
        span.glyphicon.glyphicon-plus
        |  Add new event

    div(ng-include='"app/events/eventlist.html"')
