div(ng-include='"components/navbar/navbar.html"')
.container
  ui-view

    p
      button.btn.btn-default(type="button" ui-sref="events.new")
        span.glyphicon.glyphicon-plus
        |  Add new event

    ul.list-group

      li.list-group-item(ng-repeat='event in events')
        .row
          .col-sm-8
            p
              span.lead
                strong {{ event.title }}
              |  by 
              span.lead
                strong {{ event.speaker }} 
              a(href="{{ event.speaker_url }}" ng-show="event.speaker_url")
                i.glyphicon.glyphicon-home
            dl.dl-horizontal
              dt starts
              dd {{ event.date_from | myDate }}
              dt ends
              dd {{ event.date_to | myDate }}
              dt series
              dd
                span(ng-repeat='series in event.series')
                  a(ui-sref="eventseries.edit({ id: series._id })").label.label-default {{ series.name }}
                  = ' '
          .col-sm-1
            a(ng-click='edit(event)')
              span.glyphicon.glyphicon-pencil
            br
            a.trash(ng-click='delete(event)')
              span.glyphicon.glyphicon-trash
      
      li.list-group-item(ng-if='events.length == 0')
        strong Sorry, no events for you :(
