include ../forms.jade

mixin usertable
  table.table.table-condensed
    thead
      th User
      th Status
      th Remove
    tr(ng-repeat='user in event.u_admins')
      td {{ user.name }}
      td <i class="fa fa-user"></i> member
      td
        a.trash
          span.glyphicon.glyphicon-trash
  block

h1 {{action}} event series
form.form-horizontal(name="form" ng-submit="submit()" ng-class="{submitted: form.$submitted}" novalidate)

  - required = 1
  +textinput('Name', 'event.name')

  - required = 0
  +textinput('Info', 'event.info')

  div(ng-show="event._id")
    +formelement('Admins')
      +usertable
      a.btn.btn-xs.btn-default(ng-click="addUser()")
        span.glyphicon.glyphicon-plus
        |  Invite new admin
      .help-block Admins are allowed to change every aspect of this event series.

  .form-group
    .col-sm-offset-2.col-sm-10
      button.btn.btn-default(type="submit") {{action}} event

script(type="text/ng-template" id="EventSeriesUserModal.html")
  .modal-header
    h3.modal-title Invite a user
  .modal-body
    form.form-horizontal(name="form" ng-submit="ok()")
      +textinput('Email', 'invitation.email')
  .modal-footer
    button.btn.btn-primary(ng-click="ok()") OK
    button.btn.btn-primary(ng-click="cancel()") Cancel
